body {
    body {
        font-family: 'Open Sans', sans-serif;
    }

    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-shadow: black 0 0 10px;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-shadow: black 0 0 10px;
}



.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #001F3F;
    padding: 10px 20px;
}

.nav-bar li {
    position: relative;
}

.nav-bar a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding: 5px 15px;
}

.nav-bar a:hover {
    color: #00FFFF;
    border-bottom: 2px solid #00FFFF;

}


.sub-menu {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #001F3F;
    padding: 10px 0;
    border: 2px solid #00FFFF;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.5);
}

.nav-bar li:hover .sub-menu {
    display: block;
}

.sub-menu li a {
    color: #E0E0E0;
    padding: 10px 15px;
    font-size: 16px;
}

.sub-menu li a:hover {
    color: #00FFFF;
    background-color: #001F3F;
}




div {
    margin: 0 auto;
}

@keyframes pulseGlow {
    0% {
        box-shadow:
            0 10px 20px rgba(0, 255, 255, 0.4),
            0 20px 60px rgba(0, 255, 255, 0.4),
            0 30px 100px rgba(0, 255, 255, 0.4);
    }

    50% {
        box-shadow:
            0 15px 30px rgba(0, 255, 255, 0.5),
            0 30px 60px rgba(0, 255, 255, 0.5),
            0 50px 100px rgba(0, 255, 255, 0.5);
    }

    100% {
        box-shadow:
            0 20px 40px rgba(0, 255, 255, 0.6),
            0 40px 80px rgba(0, 255, 255, 0.6),
            0 60px 120px rgba(0, 255, 255, 0.6);
    }
}

.glowbox {
    background-color: #001F3F;
    padding: 10px;
    border-radius: 0px;
    border: 2px solid #00FFFF;
    box-shadow:
        0 10px 30px rgba(0, 255, 255, 0.4),
        0 20px 50px rgba(0, 255, 255, 0.4),
        0 30px 80px rgba(0, 255, 255, 0.4);
    animation: pulseGlow 2.0s infinite alternate ease-in-out;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}