body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px 0;

}

.intro {
    background-color: #001F3F;
    padding: 100px 0;
    text-align: center;
    color: #ABFFFF;
}


h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: #00FFFF;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}






.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #001F3F;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.4);
}

.nav-bar li {
    position: relative;
    margin: 0 160px;
}

.nav-bar a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s;
    padding: 5px 10px;
}

.nav-bar a:hover {
    color: #00FFFF;
    border-bottom: 2px solid #00FFFF;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    top: 100%;
    left: 0;
    background-color: #001F3F;
    padding: 0px;
    border: 0px solid #00FFFF;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.5);
}

.nav-bar li:hover .sub-menu {
    display: block;

}

.sub-menu li a {
    color: #E0E0E0;
    display: block;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    transition: background 0.3s;
}

.sub-menu li a:hover {
    color: #00FFFF;
    background-color: #002A4F;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
    background-color: #001F3F;
    border-top: 2px solid #00FFFF;
    color: #E0E0E0;
    font-size: 2px;

}

.glowbox {
    background-color: #001F3F;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #00FFFF;
    box-shadow: 0 10px 30px rgba(0, 255, 255, 0.4);
    animation: pulseGlow 2s infinite alternate;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 10px 30px rgba(0, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 15px 40px rgba(0, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0 20px 50px rgba(0, 255, 255, 0.8);
    }
}